<div class="row bg-primary-subtle">
    <h2 style="color: brown; text-align: center;margin-top: 10px;"><img src="../assets/img/icons/icon_donation1.webp" class="img-fluid" alt="VSS Account QR Code" style="height: 50px;width: 40px;">  {{'Menu_donation_Header' | translate}}</h2>
</div>
<div class="row" >
    <div class="card" style="width: 50%;">
       
        <div class="card-body">
          <h2 class="card-title">{{'General_Text_Account_Information' | translate}}</h2>
          <p class="card-text"><strong>{{'General_Text_Account_Name' | translate}}</strong>{{'Menu_donation_Account_Name' | translate}}</p>
          <p class="card-text"><strong>{{'General_Text_Bank_Name' | translate}}</strong> <i class="fa-solid fa-landmark"></i> {{'Menu_donation_Bank_Name' | translate}}</p>
          <p class="card-text"><strong>{{'General_Text_Account_Number' | translate}}</strong>{{'Menu_donation_Account_Number' | translate}}</p>
          <p class="card-text"><strong>{{'General_Text_Account_Type' | translate}}</strong>{{'Menu_donation_Account_Type' | translate}}</p>
          <p class="card-text"><strong>{{'General_Text_Branch_Name' | translate}}</strong> <i class="fa-solid fa-building"></i> {{'Menu_donation_Branch_Name' | translate}}</p>
          <p class="card-text"><strong>{{'General_Text_Banck_Branch_IFSC' | translate}}</strong>{{'Menu_donation_Bank_Branch_IFSC' | translate}}</p>
          <p class="card-text"><strong>{{'General_Text_Banck_Branch_MICR' | translate}}</strong>{{'Menu_donation_Bank_Branch_MICR' | translate}}</p>
        </div>
    </div>
    <div class="card" style="width: 50%;">
      
      
      <div class="card-body">
        <h2 class="card-title">{{'General_Text_Account_Information_QR' | translate}}</h2>
        <img src="../assets/img/accoun_info/VSS_QR.jpg" class="img-fluid" alt="VSS Account QR Code" style="height: 300px;;">
      </div>
    </div>
</div>


