
<div class="row bg-primary-subtle" style="margin-bottom: 10px;">
    <h2 style="color: brown; text-align: center;">{{'Menu_boardmembers_Header' | translate}}</h2>
</div>
<div class="container">
<div class="row">
  <div class="row align-items-start">
    <div class="col">
      <div class="card" style="width: 20rem;">
        <img src="../assets/img/boardmembers/Jnanda.jpg" width="300" height="300" class="rounded" alt="{{'Menu_boardmembers_1_Name' | translate}}" />
        <div class="card-body">
          <h1 class="card-title">{{'Menu_boardmembers_1_Name' | translate}}</h1>
          
          <div class="card-text" style="text-align: left;">              
            <strong>{{'Menu_boardmembers_Father_Text' | translate}}:</strong> {{'Menu_boardmembers_1_Father' | translate}}<br>
            <strong>{{'Menu_boardmembers_DOB_Text' | translate}}:</strong> {{'Menu_boardmembers_1_DOB' | translate}}<br>
            <strong>{{'Menu_boardmembers_Phone_Text' | translate}}:</strong> {{'Menu_boardmembers_1_Phone' | translate}}<br>
            <strong>{{'Menu_boardmembers_Address' | translate}}:</strong> <br>
            <address>
                {{'Menu_boardmembers_1_Address' | translate}}<br>
                {{'Menu_boardmembers_1_PO' | translate}} {{'Menu_boardmembers_1_PS' | translate}}
                {{'Menu_boardmembers_1_Dist' | translate}} {{'Menu_boardmembers_1_Pin' | translate}}
            </address>
          </div>
          
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 20rem;">
        <img src="../assets/img/boardmembers/Rudra_Prasad_Sinha.jpg" width="300" height="300" class="rounded" alt="{{'Menu_boardmembers_2_Name' | translate}}" />
        <div class="card-body">
          <h1 class="card-title">{{'Menu_boardmembers_2_Name' | translate}}</h1>
          
          <div class="card-text" style="text-align: left;">              
            <strong>{{'Menu_boardmembers_Father_Text' | translate}}:</strong> {{'Menu_boardmembers_2_Father' | translate}}<br>
            <strong>{{'Menu_boardmembers_DOB_Text' | translate}}:</strong> {{'Menu_boardmembers_2_DOB' | translate}}<br>
            <strong>{{'Menu_boardmembers_Phone_Text' | translate}}:</strong> {{'Menu_boardmembers_2_Phone' | translate}}<br>
            <strong>{{'Menu_boardmembers_Address' | translate}}:</strong> <br>
            <address>
                {{'Menu_boardmembers_2_Address' | translate}}<br>
                {{'Menu_boardmembers_2_PO' | translate}} {{'Menu_boardmembers_2_PS' | translate}}
                {{'Menu_boardmembers_2_Dist' | translate}} {{'Menu_boardmembers_2_Pin' | translate}}
            </address>
          </div>
          
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 20rem;">
        <img src="../assets/img/boardmembers/Anal_Biswas.jpeg" width="300" height="300" class="rounded" alt="{{'Menu_boardmembers_2_Name' | translate}}" />
        <div class="card-body">
          <h1 class="card-title">{{'Menu_boardmembers_3_Name' | translate}}</h1>
          
          <div class="card-text" style="text-align: left;">              
            <strong>{{'Menu_boardmembers_Father_Text' | translate}}:</strong> {{'Menu_boardmembers_3_Father' | translate}}<br>
            <strong>{{'Menu_boardmembers_DOB_Text' | translate}}:</strong> {{'Menu_boardmembers_3_DOB' | translate}}<br>
            <strong>{{'Menu_boardmembers_Phone_Text' | translate}}:</strong> {{'Menu_boardmembers_3_Phone' | translate}}<br>
            <strong>{{'Menu_boardmembers_Address' | translate}}:</strong> <br>
            <address>
                {{'Menu_boardmembers_3_Address' | translate}}<br>
                {{'Menu_boardmembers_3_PO' | translate}} {{'Menu_boardmembers_3_PS' | translate}}
                {{'Menu_boardmembers_3_Dist' | translate}} {{'Menu_boardmembers_3_Pin' | translate}}
            </address>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="row align-items-start">
    <div class="col">
      <div class="card" style="width: 20rem;">
        <img src="../assets/img/boardmembers/PARTHA_SADHUKHAN.jpeg" width="300" height="300" class="rounded" alt="{{'Menu_boardmembers_2_Name' | translate}}" />
        <div class="card-body">
          <h1 class="card-title">{{'Menu_boardmembers_4_Name' | translate}}</h1>
          
          <div class="card-text" style="text-align: left;">              
            <strong>{{'Menu_boardmembers_Father_Text' | translate}}:</strong> {{'Menu_boardmembers_4_Father' | translate}}<br>
            <strong>{{'Menu_boardmembers_DOB_Text' | translate}}:</strong> {{'Menu_boardmembers_4_DOB' | translate}}<br>
            <strong>{{'Menu_boardmembers_Phone_Text' | translate}}:</strong> {{'Menu_boardmembers_4_Phone' | translate}}<br>
            <strong>{{'Menu_boardmembers_Address' | translate}}:</strong> <br>
            <address>
                {{'Menu_boardmembers_4_Address' | translate}}<br>
                {{'Menu_boardmembers_4_PO' | translate}} {{'Menu_boardmembers_4_PS' | translate}}
                {{'Menu_boardmembers_4_Dist' | translate}} {{'Menu_boardmembers_4_Pin' | translate}}
            </address>
          </div>
          
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 20rem;">
        <img src="../assets/img/boardmembers/Saibal_Das.JPG" width="300" height="300" class="rounded" alt="{{'Menu_boardmembers_2_Name' | translate}}" />
        <div class="card-body">
          <h1 class="card-title">{{'Menu_boardmembers_5_Name' | translate}}</h1>
          
          <div class="card-text" style="text-align: left;">              
            <strong>{{'Menu_boardmembers_Father_Text' | translate}}:</strong> {{'Menu_boardmembers_5_Father' | translate}}<br>
            <strong>{{'Menu_boardmembers_DOB_Text' | translate}}:</strong> {{'Menu_boardmembers_5_DOB' | translate}}<br>
            <strong>{{'Menu_boardmembers_Phone_Text' | translate}}:</strong> {{'Menu_boardmembers_5_Phone' | translate}}<br>
            <strong>{{'Menu_boardmembers_Address' | translate}}:</strong> <br>
            <address>
                {{'Menu_boardmembers_5_Address' | translate}}<br>
                {{'Menu_boardmembers_5_PO' | translate}} {{'Menu_boardmembers_5_PS' | translate}}
                {{'Menu_boardmembers_5_Dist' | translate}} {{'Menu_boardmembers_5_Pin' | translate}}
            </address>
          </div>
          
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 20rem;">
        <img src="../assets/img/boardmembers/PARTHA_BHOWMICK.jpg" width="300" height="300" class="rounded" alt="{{'Menu_boardmembers_2_Name' | translate}}" />
        <div class="card-body">
          <h1 class="card-title">{{'Menu_boardmembers_6_Name' | translate}}</h1>
          
          <div class="card-text" style="text-align: left;">              
            <strong>{{'Menu_boardmembers_Father_Text' | translate}}:</strong> {{'Menu_boardmembers_6_Father' | translate}}<br>
            <strong>{{'Menu_boardmembers_DOB_Text' | translate}}:</strong> {{'Menu_boardmembers_6_DOB' | translate}}<br>
            <strong>{{'Menu_boardmembers_Phone_Text' | translate}}:</strong> {{'Menu_boardmembers_6_Phone' | translate}}<br>
            <strong>{{'Menu_boardmembers_Address' | translate}}:</strong> <br>
            <address>
                {{'Menu_boardmembers_6_Address' | translate}}<br>
                {{'Menu_boardmembers_6_PO' | translate}} {{'Menu_boardmembers_6_PS' | translate}}
                {{'Menu_boardmembers_6_Dist' | translate}} {{'Menu_boardmembers_6_Pin' | translate}}
            </address>
          </div>
          
        </div>
      </div>
    </div>
  </div> 
  <div class="row align-items-start">
    <div class="col">
      <div class="card" style="width: 20rem;">
        <img src="../assets/img/boardmembers/SURAJIT_ADHIKARY.jpeg" width="300" height="300" class="rounded" alt="{{'Menu_boardmembers_2_Name' | translate}}" />
        <div class="card-body">
          <h1 class="card-title">{{'Menu_boardmembers_7_Name' | translate}}</h1>
          
          <div class="card-text" style="text-align: left;">              
            <strong>{{'Menu_boardmembers_Father_Text' | translate}}:</strong> {{'Menu_boardmembers_7_Father' | translate}}<br>
            <strong>{{'Menu_boardmembers_DOB_Text' | translate}}:</strong> {{'Menu_boardmembers_7_DOB' | translate}}<br>
            <strong>{{'Menu_boardmembers_Phone_Text' | translate}}:</strong> {{'Menu_boardmembers_7_Phone' | translate}}<br>
            <strong>{{'Menu_boardmembers_Address' | translate}}:</strong> <br>
            <address>
                {{'Menu_boardmembers_7_Address' | translate}}<br>
                {{'Menu_boardmembers_7_PO' | translate}} {{'Menu_boardmembers_7_PS' | translate}}
                {{'Menu_boardmembers_7_Dist' | translate}} {{'Menu_boardmembers_7_Pin' | translate}}
            </address>
          </div>
          
        </div>
      </div>
    </div>
    <div class="col">
      
    </div>
    <div class="col">
      
    </div>
  </div> 

</div>
</div>


