
<div class="row">
    <div class="card mb-3" >
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../assets/img/swami-vivekanand.jpg" height="auto" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body" >
                <div class="card-title">
                    <h1 style="color: brown; text-align: left; font-weight: bold;">{{'Menu_aimobjectives_Header_Text' | translate}}</h1>
                </div>
                <div class="card-text">
                   <b>{{'Sangha_Name' | translate}}</b>{{'Menu_aimobjectives_Para1' | translate}}
                </div>
              
              
            </div>
          </div>
        </div>
    </div>
</div>
