<div class="row" style="margin-bottom: 10px;">
    <app-banner></app-banner>
</div>

<div class="row">
    <div class="card mb-3" >
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../assets/img/swamiji-dhyan2.jpeg" style="width: 400px; height: auto" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body" >
                <div class="card-title">
                    <h1 style="color: brown; text-align: left; font-weight: bold;">{{'Menu_Home_Header_Text' | translate}}</h1>
                </div>
                <div class="card-text">
                    <p> <b>{{'Sangha_Name' | translate}}</b> {{'Menu_Home_Para1' | translate}} </p>
                    <p>{{'Menu_Home_Para2_Study_Circle' | translate}}<b>{{'Sangha_Name' | translate}}</b> {{'Menu_Home_Para2' | translate}}</p>
                    <p>{{'Menu_Home_Para3' | translate}}</p>
                </div>
              
              
            </div>
          </div>
        </div>
    </div>
</div>
<div class="row bg-primary-subtle" style="margin-bottom: 10px; ">
  <h2 style="color: brown; text-align: center; vertical-align: middle;margin-top: 10px;"><i class="fa-solid fa-square-person-confined"></i> {{'Menu_activities_Header_Text' | translate}}</h2>
</div>
<div class="container">
  <div class="row">
    
      <div class="card" style="width: 20%;">
          <img src="../assets/img/annual-programs/2013/13.jpg" style="width: 250px; height: 180px;" class="card-img-top" alt="13.jpg">
          <div class="card-body">
              <div class="card-title">
                  <h1 style="color: brown; text-align: center; font-weight: bold;font-size: 14px;">Annual Program</h1>
              </div>
              <div class="card-text">
                  <p>We used to organise annual program every year along with surrounding villagers and worship our wholy trio Thakur Maa Swamiji.</p>
              </div>
            
            <a href="#" class="btn btn-primary">Read More....</a>
          </div>
      </div>
      <div class="card" style="width: 20%;">
          <img src="../assets/img/blood-donations/2024/Blood-Camps-on-April-May-June-2024/1ST-TIME-DONOR-NISHA-SHAW.jpeg" style="width: 250px; height: 180px;" class="card-img-top" alt="1ST TIME DONOR NISHA SHAW.jpeg">
          <div class="card-body">
              <div class="card-title">
                  <h1 style="color: brown; text-align: center; font-weight: bold;font-size: 14px;">Blood Donation</h1>
              </div>
              <div class="card-text">
                  <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            
            <a href="#" class="btn btn-primary">Read More....</a>
          </div>
      </div>
      <div class="card" style="width: 20%;">
          <img src="../assets/img/flood-reliefs/FLOOD-RELIEFE-AT-KATIHAR-BIHAR-2008/IMG_2945.jpg" style="width: 250px; height: 180px;" class="card-img-top" alt="IMG_2945.jpg">
          <div class="card-body">
              <div class="card-title">
                  <h1 style="color: brown; text-align: center; font-weight: bold;font-size: 14px;">Flood Relief</h1>
              </div>
              <div class="card-text">
                  <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            
            <a href="#" class="btn btn-primary">Read More....</a>
          </div>
      </div>
      <div class="card" style="width: 20%;">
          <img src="../assets/img/govt-service-batches/IMG-20240504-WA0006.jpg" style="width: 250px; height: 180px;" class="card-img-top" alt="IMG-20240504-WA0005.jpg">
          <div class="card-body">
              <div class="card-title">
                  <h1 style="color: brown; text-align: center; font-weight: bold;font-size: 14px;">Govt. Service Coaching</h1>
              </div>
              <div class="card-text">
                  <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            
            <a href="#" class="btn btn-primary">Read More....</a>
          </div>
      </div>    
      <div class="card" style="width: 20%;">
          <img src="../assets/img/eye-checkups/IMG-20181126-WA0013.jpg" style="width: 250px; height: 180px;" class="card-img-top" alt="IMG-20240504-WA0005.jpg">
          <div class="card-body">
              <div class="card-title">
                  <h1 style="color: brown; text-align: center; font-weight: bold;font-size: 14px;">Health & Eye Checkup</h1>
              </div>
              <div class="card-text">
                  <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            
            <a href="#" class="btn btn-primary">Read More....</a>
          </div>
      </div> 
  </div>  
  <div class="row">
      
    <div class="card" style="width: 20%;">
        <img src="../assets/img/personality-development/IMG-20180830-WA0006.jpg" style="width: 250px; height: 180px;" class="card-img-top" alt="IMG-20180830-WA0006.jpg">
        <div class="card-body">
            <div class="card-title">
                <h1 style="color: brown; text-align: center; font-weight: bold;font-size: 14px;">Personality Development</h1>
            </div>
            <div class="card-text">
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          
          <a href="#" class="btn btn-primary">Read More....</a>
        </div>
    </div>
    <div class="card" style="width: 20%;">
        <img src="../assets/img/pathachakra/Ishlampur-Pathchakra/IMG-20240513-WA0000.jpg" style="width: 250px; height: 180px;" class="card-img-top" alt="IMG-20240513-WA0000.jpg">
        <div class="card-body">
            <div class="card-title">
                <h1 style="color: brown; text-align: center; font-weight: bold;font-size: 14px;">Pathachakra</h1>
            </div>
            <div class="card-text">
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          
          <a href="#" class="btn btn-primary">Read More....</a>
        </div>
    </div>
    <div class="card" style="width: 20%;">
        <img src="../assets/img/academic-coaching/IMG-20240504-WA0009.jpg" style="width: 250px; height: 180px;" class="card-img-top" alt="IMG-20240504-WA0009.jpg">
        <div class="card-body">
            <div class="card-title">
                <h1 style="color: brown; text-align: center; font-weight: bold;font-size: 14px;">Academic Coaching</h1>
            </div>
            <div class="card-text">
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          
          <a href="#" class="btn btn-primary">Read More....</a>
        </div>
    </div>
    <div class="card" style="width: 20%;">
        <img src="../assets/img/samidhayan/2023/IMG-20230815-WA0019.jpg" style="width: 250px; height: 180px;" class="card-img-top" alt="IMG-20230815-WA0019.jpg">
        <div class="card-body">
            <div class="card-title">
                <h1 style="color: brown; text-align: center; font-weight: bold;font-size: 14px;">Samidhayan</h1>
            </div>
            <div class="card-text">
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          
          <a href="#" class="btn btn-primary">Read More....</a>
        </div>
    </div>    
    <div class="card" style="width: 20%;">
        <img src="../assets/img/youthday-celebration/2024 YOUTH DAY/PHOTO/DSC_0252.JPG" style="width: 250px; height: 180px;" class="card-img-top" alt="DSC_0252.JPG">
        <div class="card-body">
            <div class="card-title">
                <h1 style="color: brown; text-align: center; font-weight: bold;font-size: 14px;">Youth Day Celebration</h1>
            </div>
            <div class="card-text">
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          
          <a href="#" class="btn btn-primary">Read More....</a>
        </div>
    </div>   
</div>
</div>
<div class="row bg-primary-subtle" style="margin-bottom: 10px; ">
    <h2 style="color: brown; text-align: center;vertical-align: middle;margin-top: 10px;"><img src="../assets/img/icons/icon_donation1.webp" class="img-fluid" alt="VSS Account QR Code" style="height: 50px;width: 40px;"/>  {{'Menu_donation_Header' | translate}}</h2>
</div>
<div class="container">
    <div class="row" >
        <div class="card" style="width: 50%;">
           
            <div class="card-body">
              <h2 class="card-title">{{'General_Text_Account_Information' | translate}}</h2>
              <p class="card-text"><strong>{{'General_Text_Account_Name' | translate}}</strong>{{'Menu_donation_Account_Name' | translate}}</p>
              <p class="card-text"><strong>{{'General_Text_Bank_Name' | translate}}</strong> <i class="fa-solid fa-landmark"></i> {{'Menu_donation_Bank_Name' | translate}}</p>
              <p class="card-text"><strong>{{'General_Text_Account_Number' | translate}}</strong>{{'Menu_donation_Account_Number' | translate}}</p>
              <p class="card-text"><strong>{{'General_Text_Account_Type' | translate}}</strong>{{'Menu_donation_Account_Type' | translate}}</p>
              <p class="card-text"><strong>{{'General_Text_Branch_Name' | translate}}</strong> <i class="fa-solid fa-building"></i> {{'Menu_donation_Branch_Name' | translate}}</p>
              <p class="card-text"><strong>{{'General_Text_Banck_Branch_IFSC' | translate}}</strong>{{'Menu_donation_Bank_Branch_IFSC' | translate}}</p>
              <p class="card-text"><strong>{{'General_Text_Banck_Branch_MICR' | translate}}</strong>{{'Menu_donation_Bank_Branch_MICR' | translate}}</p>
            </div>
        </div>
        <div class="card" style="width: 50%;">
          
          
          <div class="card-body">
            <h2 class="card-title">{{'General_Text_Account_Information_QR' | translate}}</h2>
            <img src="../assets/img/accoun_info/VSS_QR.jpg" class="img-fluid" alt="VSS Account QR Code" style="height: 300px;;">
          </div>
        </div>
    </div>

</div>





