<div class="container"  style="text-align: center;">

<h2>ALL BLOOD DONOR LIST</h2>  
<div class="form-group col-md-15">
    <input type="text" name="searchedKeyword" class="form-control"  placeholder="Enter Keyword for filter result" [(ngModel)]="searchedKeyword">
  </div>
<div class="mat-elevation-z8">  
  
  <table mat-table [dataSource]="dataSource" matSort>  
  
    <ng-container matColumnDef="slno">  
      <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" style="text-align: left;"> # </th>  
      <td mat-cell *matCellDef="let donor" style="text-align: left;"> {{donor.slno}} </td>  
    </ng-container>  
  
    <ng-container matColumnDef="name">  
      <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" style="text-align: left;"> Name </th>  
      <td mat-cell *matCellDef="let donor" style="text-align: left;"> {{donor.name}} </td>  
    </ng-container>  
  
      <ng-container matColumnDef="age">  
        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" style="text-align: left;"> Age </th>  
        <td mat-cell *matCellDef="let donor" style="text-align: left;"> {{donor.age}} </td>  
      </ng-container>  
  
    <ng-container matColumnDef="contactno">  
      <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" style="text-align: left;"> Contact No </th>  
      <td mat-cell *matCellDef="let donor" style="text-align: left;"> {{donor.contactno}} </td>  
    </ng-container>  
  
    
        <ng-container matColumnDef="bloodgroup">  
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" style="text-align: left;"> Group Name </th>  
          <td mat-cell *matCellDef="let donor" style="text-align: left;"> {{donor.bloodgroup}} </td>  
        </ng-container> 
        <ng-container matColumnDef="address">  
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" style="text-align: left;"> Address </th>  
          <td mat-cell *matCellDef="let donor" style="text-align: left;"> {{donor.address}} </td>  
        </ng-container>  
       
        <ng-container matColumnDef="venue">  
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" style="text-align: left;"> Venue </th>  
          <td mat-cell *matCellDef="let donor" style="text-align: left;"> {{donor.venue}} </td>  
        </ng-container> 

        <ng-container matColumnDef="donationdate">  
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" style="text-align: left;"> Donation Date </th>  
          <td mat-cell *matCellDef="let donor" style="text-align: left;"> {{donor.donationdate}} </td>  
        </ng-container> 
        
             
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>  
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>  
  </table>  
  
   
  <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
</mat-paginator>
</div>  

</div>  