<!--
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>


<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8" style="width: 70%;">
      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="../assets/img/banners/intro-banner-swamys-1.jpg" alt="Holy Trio" class="d-block w-100">
            
            
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="../assets/img/banners/Banner_Sangha3.jpg" alt="Sangha Banner1" class="d-block w-100" >
            
          </div>
          
          
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>
    <div class="col-lg-2" style="width: 30%;">
      <div class="card text-center">
        <div class="card-header bg-primary">
          NOTICE BOARD
        </div>
        <div class="card-body bg-primary-subtle">          
          <div class="wrapper blur">
            <ul class="slider">
              <li><p> Swamiji's birth celebration in all units on 12th January 2025 </p></li>
              <li><p> Blood donation camp at Sodepur Vividishananda Seva Kendra </p></li>
              <li><p> Conducting Online Pathachakra by Barrackpore Unit every Sunday at 6pm.</p></li>
              
            </ul>
        </div>

        </div>
        
      </div>

    </div>
  </div>
</div>
