<div class="row bg-primary-subtle" style="margin-bottom: 10px;">
    <h2 style="color: brown; text-align: center;">{{'Menu_activities_Header_Text' | translate}}</h2>
</div>
<div class="container">
<div class="row">
  
    <div class="card" style="width: 20%;">
        <img src="../assets/img/annual-programs/2013/13.jpg" style="width: 250px; height: 180px;" class="card-img-top" alt="13.jpg">
        <div class="card-body">
            <div class="card-title">
                <h1 style="color: brown; text-align: center; font-weight: bold;font-size: 14px;">Annual Program</h1>
            </div>
            <div class="card-text">
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          
          <a href="#" class="btn btn-primary">Read More....</a>
        </div>
    </div>
    <div class="card" style="width: 20%;">
        <img src="../assets/img/blood-donations/2024/Blood Camps on April, May, June 2024/1ST TIME DONOR NISHA SHAW.jpeg" style="width: 250px; height: 180px;" class="card-img-top" alt="1ST TIME DONOR NISHA SHAW.jpeg">
        <div class="card-body">
            <div class="card-title">
                <h1 style="color: brown; text-align: center; font-weight: bold;font-size: 14px;">Blood Donation</h1>
            </div>
            <div class="card-text">
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          
          <a href="#" class="btn btn-primary">Read More....</a>
        </div>
    </div>
    <div class="card" style="width: 20%;">
        <img src="../assets/img/flood-reliefs/FLOOD RELIFE_AT KATIHAR, BIHAR 2008/IMG_2945.jpg" style="width: 250px; height: 180px;" class="card-img-top" alt="IMG_2945.jpg">
        <div class="card-body">
            <div class="card-title">
                <h1 style="color: brown; text-align: center; font-weight: bold;font-size: 14px;">Flood Relief</h1>
            </div>
            <div class="card-text">
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          
          <a href="#" class="btn btn-primary">Read More....</a>
        </div>
    </div>
    <div class="card" style="width: 20%;">
        <img src="../assets/img/govt-service-batches/IMG-20240504-WA0006.jpg" style="width: 250px; height: 180px;" class="card-img-top" alt="IMG-20240504-WA0005.jpg">
        <div class="card-body">
            <div class="card-title">
                <h1 style="color: brown; text-align: center; font-weight: bold;font-size: 14px;">Govt. Service Coaching</h1>
            </div>
            <div class="card-text">
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          
          <a href="#" class="btn btn-primary">Read More....</a>
        </div>
    </div>    
    <div class="card" style="width: 20%;">
        <img src="../assets/img/eye-checkups/IMG-20181126-WA0013.jpg" style="width: 250px; height: 180px;" class="card-img-top" alt="IMG-20240504-WA0005.jpg">
        <div class="card-body">
            <div class="card-title">
                <h1 style="color: brown; text-align: center; font-weight: bold;font-size: 14px;">Health & Eye Checkup</h1>
            </div>
            <div class="card-text">
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          
          <a href="#" class="btn btn-primary">Read More....</a>
        </div>
    </div> 
</div> 
<div class="row">
    
    <div class="card" style="width: 20%;">
        <img src="../assets/img/personality-development/IMG-20180830-WA0006.jpg" style="width: 250px; height: 180px;" class="card-img-top" alt="IMG-20180830-WA0006.jpg">
        <div class="card-body">
            <div class="card-title">
                <h1 style="color: brown; text-align: center; font-weight: bold;font-size: 14px;">Personality Development</h1>
            </div>
            <div class="card-text">
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          
          <a href="#" class="btn btn-primary">Read More....</a>
        </div>
    </div>
    <div class="card" style="width: 20%;">
        <img src="../assets/img/pathachakra/Ishlampur Pathchakra/IMG-20240513-WA0000.jpg" style="width: 250px; height: 180px;" class="card-img-top" alt="IMG-20240513-WA0000.jpg">
        <div class="card-body">
            <div class="card-title">
                <h1 style="color: brown; text-align: center; font-weight: bold;font-size: 14px;">Pathachakra</h1>
            </div>
            <div class="card-text">
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          
          <a href="#" class="btn btn-primary">Read More....</a>
        </div>
    </div>
    <div class="card" style="width: 20%;">
        <img src="../assets/img/academic-coaching/IMG-20240504-WA0009.jpg" style="width: 250px; height: 180px;" class="card-img-top" alt="IMG-20240504-WA0009.jpg">
        <div class="card-body">
            <div class="card-title">
                <h1 style="color: brown; text-align: center; font-weight: bold;font-size: 14px;">Academic Coaching</h1>
            </div>
            <div class="card-text">
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          
          <a href="#" class="btn btn-primary">Read More....</a>
        </div>
    </div>
    <div class="card" style="width: 20%;">
        <img src="../assets/img/samidhayan/2023/IMG-20230815-WA0019.jpg" style="width: 250px; height: 180px;" class="card-img-top" alt="IMG-20230815-WA0019.jpg">
        <div class="card-body">
            <div class="card-title">
                <h1 style="color: brown; text-align: center; font-weight: bold;font-size: 14px;">Samidhayan</h1>
            </div>
            <div class="card-text">
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          
          <a href="#" class="btn btn-primary">Read More....</a>
        </div>
    </div>    
    <div class="card" style="width: 20%;">
        <img src="../assets/img/youthday-celebration/2024 YOUTH DAY/PHOTO/DSC_0252.JPG" style="width: 250px; height: 180px;" class="card-img-top" alt="DSC_0252.JPG">
        <div class="card-body">
            <div class="card-title">
                <h1 style="color: brown; text-align: center; font-weight: bold;font-size: 14px;">Youth Day Celebration</h1>
            </div>
            <div class="card-text">
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          
          <a href="#" class="btn btn-primary">Read More....</a>
        </div>
    </div>   
</div>

</div>


