
<div class="row bg-primary-subtle" style="margin-bottom: 10px;">
  <h2 style="color: brown; text-align: center;">{{'Menu_branches_Header' | translate}}</h2>
</div>
<div class="container">
<div class="row" >
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h1 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <strong>{{'Menu_branches_Reg_Office' | translate}}</strong>  
            </button>
          </h1>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <h1>{{'Menu_branches_Reg_Office_General_Secretary' | translate}} {{'General_Text_Gen_Sectretary' | translate}}</h1><br>
                <strong>{{'General_Text_Ph_No' | translate}} </strong>{{'Menu_branches_Reg_Office_General_Secretary_Ph_No' | translate}}<br>
                <strong>{{'General_Text_Email' | translate}} </strong>{{'Menu_branches_Reg_Office_General_Secretary_Email' | translate}}<br>
                <strong>{{'General_Text_Office' | translate}} </strong>{{'Menu_branches_Reg_Office_Address' | translate}}<br>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h1 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <strong>{{'Menu_branches_Ashram_Office' | translate}}</strong>
            </button>
          </h1>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <h1>{{'Menu_branches_Ashram_Office_Secretary' | translate}} {{'General_Text_Sectretary' | translate}}</h1><br>
                <strong>{{'General_Text_Ph_No' | translate}} </strong>{{'Menu_branches_Ashram_Office_Secretary_Ph_No' | translate}}<br>
                <strong>{{'General_Text_Email' | translate}} </strong>{{'Menu_branches_Ashram_Office_Secretary_Email' | translate}}<br>
                <strong>{{'General_Text_Office' | translate}} </strong>{{'Menu_branches_Ashram_Office_Address' | translate}}<br>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h1 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <strong>{{'Menu_branches_Bolpur_Office' | translate}}</strong>
            </button>
          </h1>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <h1>{{'Menu_branches_Bolpur_Office_Secretary' | translate}} {{'General_Text_Sectretary' | translate}}</h1><br>
                <strong>{{'General_Text_Ph_No' | translate}} </strong>{{'Menu_branches_Bolpur_Office_Secretary_Ph_No' | translate}}<br>
                <strong>{{'General_Text_Email' | translate}} </strong>{{'Menu_branches_Bolpur_Office_Secretary_Email' | translate}}<br>
                <strong>{{'General_Text_Office' | translate}} </strong>{{'Menu_branches_Bolpur_Office_Address' | translate}}<br>

            </div>
          </div>
        </div>
        <div class="accordion-item">
            <h1 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  <strong>{{'Menu_branches_Barrackpore_Office' | translate}}</strong>
              </button>
            </h1>
            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                  <h1>{{'Menu_branches_Barrackpore_Office_Secretary' | translate}} {{'General_Text_Sectretary' | translate}}</h1><br>
                  <strong>{{'General_Text_Ph_No' | translate}} </strong>{{'Menu_branches_Barrackpore_Office_Secretary_Ph_No' | translate}}<br>
                  <strong>{{'General_Text_Email' | translate}} </strong>{{'Menu_branches_Barrackpore_Office_Secretary_Email' | translate}}<br>
                  <strong>{{'General_Text_Office' | translate}} </strong>{{'Menu_branches_Barrackpore_Office_Address' | translate}}<br>
  
              </div>
            </div>
        </div>

        <div class="accordion-item">
            <h1 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  <strong>{{'Menu_branches_Labhpur_Office' | translate}}</strong>
              </button>
            </h1>
            <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                  <h1>{{'Menu_branches_Labhpur_Office_Secretary' | translate}} {{'General_Text_Sectretary' | translate}}</h1><br>
                  <strong>{{'General_Text_Ph_No' | translate}} </strong>{{'Menu_branches_Labhpur_Office_Secretary_Ph_No' | translate}}<br>
                  <strong>{{'General_Text_Email' | translate}} </strong>{{'Menu_branches_Labhpur_Office_Secretary_Email' | translate}}<br>
                  <strong>{{'General_Text_Office' | translate}} </strong>{{'Menu_branches_Labhpur_Office_Address' | translate}}<br>
  
              </div>
            </div>
        </div>        
        <div class="accordion-item">
            <h1 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  <strong>{{'Menu_branches_Bardhaman_Office' | translate}}</strong>
              </button>
            </h1>
            <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                  <h1>{{'Menu_branches_Bardhaman_Office_Secretary' | translate}} {{'General_Text_Sectretary' | translate}}</h1><br>
                  <strong>{{'General_Text_Ph_No' | translate}} </strong>{{'Menu_branches_Bardhaman_Office_Secretary_Ph_No' | translate}}<br>
                  <strong>{{'General_Text_Email' | translate}} </strong>{{'Menu_branches_Bardhaman_Office_Secretary_Email' | translate}}<br>
                  <strong>{{'General_Text_Office' | translate}} </strong>{{'Menu_branches_Bardhaman_Office_Address' | translate}}<br>
  
              </div>
            </div>
        </div>  
        <div class="accordion-item">
            <h1 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                  <strong>{{'Menu_branches_Kaliyaganj_Office' | translate}}</strong>
              </button>
            </h1>
            <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                  <h1>{{'Menu_branches_Kaliyaganj_Office_Secretary' | translate}} {{'General_Text_Sectretary' | translate}}</h1><br>
                  <strong>{{'General_Text_Ph_No' | translate}} </strong>{{'Menu_branches_Kaliyaganj_Office_Secretary_Ph_No' | translate}}<br>
                  <strong>{{'General_Text_Email' | translate}} </strong>{{'Menu_branches_Kaliyaganj_Office_Secretary_Email' | translate}}<br>
                  <strong>{{'General_Text_Office' | translate}} </strong>{{'Menu_branches_Kaliyaganj_Office_Address' | translate}}<br>
  
              </div>
            </div>
        </div>           
      </div>
</div>
</div>