<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand active text-left" href="#" routerLink="/home">
      
      <img src="../assets/img/vss-newlogo.jpg" width="50" alt="Vivekananda Samidh Sangha"/>
      <span class="sr-only">(current)</span>
      
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">            
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/philosophy">
            PHILOSOPHY
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/aimobjectives">
            AIM & OBJECTIVES                
          </a>
        </li>
        <li class="nav-item dropdown">
          <a routerLink="/activities" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">                
            ACTIVITIES
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            
            <a class="dropdown-item" href="#" routerLink="/annualprogram">
              Annual Program
            </a>
            
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/boardmembers">
            BOARD MEMBERS
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/donation">
            DONATION
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/branches">
            BRANCHES
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/contactus">
            CONTACT US
          </a>
        </li>

      </ul>
    </div>
  </nav>