
<div class="row">
    <div class="card mb-3" >
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../assets/img/thakur-standing.jpg" style="width: 400px; height: 450px;" class="img-fluid rounded-start" alt="...">            
            <br>
            <img src="../assets/img/sarada-ma-standing3.jpeg" style="width: 400px; height: 500px" class="img-fluid rounded-start" alt="...">            
            <br>
                       
            <img src="../assets/img/swamiji-diksha.jpg" style="width: 400px; height: 400px" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body" >
                <div class="card-title">
                    <h1 style="color: brown; text-align: left; font-weight: bold;">{{'Menu_philosophy_Header_Text' | translate}}</h1>
                </div>
                <div class="card-text">
                    <p style="text-align: left;"><b>{{'Sangha_Name' | translate}}</b> {{'Menu_philosophy_Para1' | translate}}</p>

                    <p style="margin-left: 20px; margin-right: 50px; text-align: left;"><b>{{'Menu_philosophy_SubPoint1' | translate}}</b> {{'Menu_philosophy_SubPoint1_Para' | translate}} </p>
                    <p style="margin-left: 20px; margin-right: 50px; text-align: left;"><b>{{'Menu_philosophy_SubPoint2' | translate}}</b> {{'Menu_philosophy_SubPoint2_Para' | translate}} </p>
                    <p style="margin-left: 20px; margin-right: 50px; text-align: left;"><b>{{'Menu_philosophy_SubPoint3' | translate}}</b> {{'Menu_philosophy_SubPoint3_Para' | translate}} </p>
                    <p style="margin-left: 20px; margin-right: 50px; text-align: left;"><b>{{'Menu_philosophy_SubPoint4' | translate}}</b> {{'Menu_philosophy_SubPoint4_Para' | translate}} </p>
                    <p style="margin-left: 20px; margin-right: 50px; text-align: left;"><b>{{'Menu_philosophy_SubPoint5' | translate}}</b> {{'Menu_philosophy_SubPoint5_Para' | translate}} </p>
                    <p style="margin-left: 20px; margin-right: 50px; text-align: left;"><b>{{'Menu_philosophy_SubPoint6' | translate}}</b> {{'Menu_philosophy_SubPoint6_Para' | translate}} </p>
                    <p style="margin-left: 50px; margin-right: 50px; text-align: left;"><b>{{'Menu_philosophy_SubSubPoint1' | translate}}</b> {{'Menu_philosophy_SubSubPoint1_Para' | translate}} </p>
                    <p style="margin-left: 50px; margin-right: 50px; text-align: left;"><b>{{'Menu_philosophy_SubSubPoint2' | translate}}</b> {{'Menu_philosophy_SubSubPoint2_Para' | translate}} </p>
                    <p style="margin-left: 50px; margin-right: 50px; text-align: left;"><b>{{'Menu_philosophy_SubSubPoint3' | translate}}</b> {{'Menu_philosophy_SubSubPoint3_Para' | translate}} </p>
                    <p style="margin-left: 50px; margin-right: 50px; text-align: left;"><b>{{'Menu_philosophy_SubSubPoint4' | translate}}</b> {{'Menu_philosophy_SubSubPoint4_Para' | translate}} </p>
                    <p style="margin-left: 50px; margin-right: 50px; text-align: left;"><b>{{'Menu_philosophy_SubSubPoint5' | translate}}</b> {{'Menu_philosophy_SubSubPoint5_Para' | translate}} </p>
                </div>
              
              
            </div>
          </div>
        </div>
    </div>


</div>
